<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <title>Collar valuation</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

    <body>        
        <form style="width:80%; margin:auto;" action="calculate_market_cap" method="POST">
            {% csrf_token %}
            <h1>Information about the bidder company</h1>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                <label for="bidderName">Company name</label>
                <input type="text" class="form-control" name="bidderName" id="bidderName">
                </div>
                <div class="col-md-4 mb-3">
                <label for="bidderSharesBefore">Number of shares before the deal</label>
                <input type="number" min="0" class="form-control" name="bidderSharesBefore" id="bidderSharesBefore">
                </div>
                <div class="col-md-4 mb-3">
                <label for="bidderPriceBefore">Share price 1 day prior to announcement</label>
                <input type="number" min="0" step="0.01" class="form-control" name="bidderPriceBefore" id="bidderPriceBefore">
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                <label for="bidderDailyReturn">Expected daily return during the bid period</label>
                <input type="text" class="form-control" name="bidderDailyReturn" id="bidderDailyReturn">
                </div>
                <div class="col-md-4 mb-3">
                <label for="bidderDailyStd">Daily std of return during the bid period</label>
                <input type="text" class="form-control" name="bidderDailyStd" id="bidderDailyStd">
                </div>
            </div>
            <div class="form-group">
                <label for="readyPremium">Maximum premium bidder is ready to pay, to the pre-announcement price</label>
                <input type="text" class="form-control" name="readyPremium" id="readyPremium">
            </div>
            
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
    </body>

</html>